---
layout: default
title: About Me
---

%section#about
  #datacontent
    %nav
      %ul.navigation
        %li
          %a{:href => "#developper"}
            Developper
        %li
          %a{:href => "#webdesigner"}
            Webdesigner
        %li
          %a{:href => "#architect"}
            Architect
    #panels
      #developper.panel
        -#
          %p 
            I'm currently a Ruby/Ruby on on Rails web developper.
            %br
            I discovered this language and the RoR framework in 2005 (I'm not sure it was even in version 1.0 at the time) and immediately fell in love with the framework ideas and goals.
          %p
            I have never wanted to go back to my old web developping practices (PHP without framework) after that ( Hey PHP guys, I'm not saying you can't develop a good and pretty website with your favorite language, Symfony does well ! ).
            %br
            The more I learnt about Rails the more I learnt about the web in general, and REST Architecture, HTTP caching, MVC architecture and all that not so Rails stuff as been useful in a lot of other projects since then.  
          %p
            Learning Rails I also learnt the Ruby language, and I have to say that even after five years studying programming (and other stuff), 
            %br
            I realy embrassed the Object Prototype with Ruby.   
      #webdesigner.panel
        -#
          %p 
            Yes I did, and I am.
            %br
            It's actually a fact that currently, most french web workers have to be both a developper and a "integrator".
            %br
            My last 2 studying years and my 2 working years made me a good IE6 hater, like every HTML guy who would like to design with HTML/CSS the way it should be.
        
      #architect.panel
        -#
          %p 
            Kind of in fact...
            %br
            I always loved "Retour vers le futur", surely because I would realy like to know how the future will be.
            %br
            But I realised a few years ago that the web future is not written down anywhere, not even in Spielberg or Jules Verne mind.
          %p
            I wan't to build the future web, I may be silly but I'm confident I can at least build a small part of it.
            %br
            That's why I try to learn every day about the web present, and why I share my work when I try to build some new practices or usage of the web.
