figure.card {
  position: relative;
  overflow: hidden;
  margin: 10px 1%;
  background: $brand-color;
  text-align: center;
  cursor: pointer;
  box-shadow: 5px 5px 10px #CCC;
}


figure img {
  position: relative;
  display: block;
  min-height: 100%;
  opacity: 1;
  max-width: none;
  width: calc(100% + 20px);
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(-10px,0,0);
  backface-visibility: hidden;
}

.cards li:hover img {
  opacity: 0.2;
}

figure figcaption {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  padding: 1rem 2rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25rem;
  backface-visibility: hidden;
}


figure.card p::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #fff;
  content: '';
  transition: transform 0.35s;
  transform: translate3d(-101%, 0, 0) scale3d(1,5,1);

}

.cards li:hover p::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}


figure.card p {
  padding: 1rem 0;
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(100%,0,0);
  letter-spacing: 1px;
  font-size: 68.5%;
}

.cards li:hover p {
    opacity: 1;
    transform: translate3d(0,0,0);
}

.card figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
