.google header {
  background-color: #543c24;
  background-image: url('/images/works/google/header.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  min-height: 480px;
}
