body {
  background: #FFF;
  scroll-behavior: smooth;
}

h1, h2, h3, h4 {
  font-family: $title-font-family;
}

h1 {
  font-size: 2.4em;
  font-family: $logo-font-family;
  margin-bottom: 0;
}

h2 {
  text-transform: uppercase;
  text-align: center;
}


h3 {
  font-size: 2em;
  text-transform: uppercase;
}

h4 {
  font-size: 1.8em;
  margin-top: 1.8em;
  color: #666;
}

h5 {
  font-size: 1.6em;
}

h6 {
  font-size: 1.4em;
}

nav {
  position: absolute;
  right: 0;
  top: 30px;

  li {
    display: inline-block;
    margin: 1em;
  }
}

.wrapper {
  margin: 1em auto;
  padding: 30px 100px;
  box-sizing: border-box;
}

.skills {
  background: #F4F4F4;
}
header {
  background: $brand-color;
  color: $brand-bg-color;

  h1, h2, h3, h4 {
    text-transform: none;
    border: none;
  }

  h2 {
    text-transform: uppercase;
    margin-top: -0.7em;
    font-size: 1.3em;
    opacity: 0.5;
  }

  .heading {
    display: flex;
  }

  .wrapper {
    background: transparent;
    position: relative;
    margin-top: 0;
    padding-bottom: 0;
  }

  p {
    width: 50%;
    text-align: center;
    font-size: 1.2em;
    margin: 2em auto 2em auto;
    font-weight: lighter;
  }

  b {
    white-space: nowrap;
  }

  a.homepage:hover {
    text-decoration: none;
  }

  a.portfolio {
    margin-bottom: 1em;
    &:visited,
    &:hover,
    &:active {
      color: #FFF;
    }
  }

  h3 {
    text-align: center;
    text-transform: capitalize;
  }

  /**
   * Links
   */
  a {
      color: $brand-bg-color;
      text-decoration: none;

      &:visited {
          color: #FFF;
      }

      &:hover {
          color: $brand-bg-color;
          text-decoration: underline;
      }

      &[href^="#"] {
        text-align: center;
        display: block;
      }
  }
}

footer {
  background: #303030;
  margin-bottom: 0;
  margin-top: 2em;

  a {
    color: #FFF;
    text-decoration: none;
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: #FFF;
      text-decoration: none;
    }
  }

  .wrapper {
    display: flex;
    margin-bottom: 0;
  }

  .name {
    display: flex;
  }

  h2 {
    text-transform: uppercase;
    margin-top: -0.7em;
    font-size: 1.3em;
    opacity: 0.5;
  }

  .links {
    flex: 1;
    text-align: right;
    li {
      list-style-type: none;
      display: inline-block;
      color: #FFF;
    }
  }
}

.portfolio {
  transform: translateY(0);
  transition: .3s transform;
}

.portfolio:hover {
  transform: translateY(5px);
}

.portfolio svg {
  width: 25px;
  color: #FFF;
  opacity: 0.5;
}

.works {
  ul {
    display: flex;
    margin-left: 0;
  }

  li {
    flex: 1;
    list-style-type: none;
    margin: 1em;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.skills {

  ul {
    margin: 0;
  }

  li {
    list-style-type: none;
    background: white;
    margin-bottom: 1em;
    padding: 1em;
    display: flex;
  }

  h4 {
    color: $brand-color;
    margin-top: 0;
    flex: 1;
    text-transform: uppercase;
    padding-right: 2em;
  }

  p {
    flex: 3;
  }
}

.contact {

  padding-bottom: 2em;

  form {
    position: relative;
  }

  p {
    display: flex;
    font-size: 1em;
  }

  label {
    flex: 1;
    padding-right: 1em;
    padding-top: 1em;
  }

  input, textarea {
    flex: 2;
    font-size: 1em;
    padding: 1em;
  }

  textarea {
    height: 10em;
  }

  input[type=submit] {
    background: $brand-color;
    color: none;
    border: none;
    position: absolute;
    right: 0;
    padding: .5em 1em;
    color: #FFF;
    font-size: 1em;
  }
}

.work {
  font-size: 1.1em;

  .screenshots img {
    margin: 1em;
  }
}
