section#about
  +box-shadow(#000, 8px)
  padding= 12px !base_font_size * 1.5 35px !base_font_size * 1.5 
  position: relative
  background: rgba(230, 230, 230, 0.6)
  margin-bottom= !base_font_size * 1.5 
  display: block
  width: 850px
  min-height: 85px    

  .ruby, .html-css, .architect
    display: block
    padding: 10px

  .ruby
    background: #C33
    
  .html-css
    background: #6D6
    
  .architect
    background: #36C