.blog
  .article-content
    +jb_section
    &:hover
      +box-shadow(#36C, 15px)

    & > p, & > h1
      position: relative
      display: block
      +append(1)
      +prepend(1)    
      overflow: hidden

    a[href^="#result"]
      font-size: 0.8em
    a[href^="#result"], a[href^="#anchor"]
      font-weight: normal
      vertical-align: super
    p
      img
        display: block
        float: none
        margin: 0 auto
        +box-shadow(#000, 8px)
      img:hover
        +box-shadow(#000, 12px)      
    p.anchors, p.photo-credits
      font-size: 0.8em
    p.photo-credits
      padding: 10px
      margin: 10px
      line-height: 1.3em
      background: rgba(30,30,30,0.1)
      border: 1px solid #FFF
 
    ul.tags
      text-align: right
      margin: 10px
      li
        display: inline-block
        padding: 0 10px
        background: #BBB
        margin: 3px
        font-size= !base_font_size * 0.7
        +border-top-left-radius(10px)
        +border-top-right-radius(10px)
        +border-bottom-left-radius(10px)
        +border-bottom-right-radius(0)
    h1
      font-size: 24px
  footer
    padding-top= !base_font_size
    