!header_height= 80px

header
  +heading-font
  display: block
  background: rgba(50,50,50,0.7)
  height= !header_height
  div
    width: 960px
    position: relative
    margin: 0 auto
    a.title
      font-size= !h1
      line-height= !header_height
      +heading-font
      +btn-text-shadow(#FFF)
      color= !title_color
      text-decoration: none
