nav
  display: block
  margin: 0 auto
  width= !blueprint_container_size
  padding: 0
  overflow: hidden
  clear: both
  color: #DDD
  ul
    +column(ceil(2 * !blueprint_grid_columns / 3), true)
    padding: 0 5px
    background= darken(!body_bg, 3)
    +border-bottom-radius(7px)
    +float-right
    display: block
    overflow: hidden
    li:last-child
      border-right: none
    li
      display: block
      float: left
      padding: 0 27px
      text-align: right
      border-right= 1px solid darken(!body_bg, 4)
      a
        display: block
        font-size: 14px
        color: #CCC
        //text-decoration: none
      span
        font-family: "QuicksandBookOblique", "Helvetica Neue", Helvetica, Arial, sans-serif
    li.active a
      color: #FFF
