nav
  margin: 0
  padding: 0
  overflow: hidden
  position: absolute
  right: 0
  top: 0
  color: #DDD
  height= !header_height
  ul
    height= !header_height
    li
      height= !header_height
      display: block
      float: left
      width: 150px
      border-right: 1px dashed #FFF
      padding-right: 15px
      text-align: right
      a
        display: block
        height: 30px
        line-height: 30px
        font-size: 28px
        margin: 10px 0
        color: #CCC
        text-decoration: none
      span
        font-family: "QuicksandBookOblique", "Helvetica Neue", Helvetica, Arial, sans-serif
