---
layout: default
title: A propos de moi
---

%section#about
  %h1 A propos de moi
  %p
    Jonathan Blanchet, développeur web a plein temps.
    %br
    Développeur web ? 
    Du style : 
    Intégrateur fou qui rêve en HTML/CSS ? 
    Programmeur coté serveur ?
    Architecte du web ? 
    %br
    J'aimerais vous répondre un peu des trois mais ce serait présomptueux...
    %br
    Vraiment présomptueux ? 
    
  %section.ruby
    %p
      Pour être franc, je suis actuellement un programmeur, ou plutôt, si j'en crois mon dernier bulletin de salaire, un Développeur Ruby / Ruby on Rails.
    %p
      J'ai découvert le langage Ruby et le Framework Ruby on Rails en 2005 (surement encore en version beta à l'époque ).
      Toujours est-il que j'ai été immédiatement séduit par les idées nouvelles apportées par ce duo de choc... 
    %p
      Depuis, il ne m'est jamais venu à l'esprit de faire demi tour et de revenir à mes anciennes habitudes de développement (PHP sans Framework)*
      En fait, plus j'apprenais sur Rails, plus j'apprenais sur le web en général, les architectures RESTful, la gestion du cache par le protocole HTTP, l'architecture MVC...
      Autant de principes utiles quelquefois la technologie employée par la suite.
    %p
      En découvrant le Framework Rails, j'ai forcement découvert le langage Ruby, et même après 5 ans après le bac consacrés (entre autre) au développement informatique, ce n'est qu'une fois bien compris les rouages du langage Ruby que j'ai eu l'impression de vraiment comprendre le Paradigme de la programmation orientée objet.  
    
    %p
      * Avis aux fanatiques du PHP, je ne dis pas qu'il est impossible de programmer proprement en PHP, Symfony le fait à merveille.

  %section.html-css  
    %p 
      Bien, bien, mais qu'en est-il du HTML / CSS ? 
    
    %p 
      Excellente question ! 
      %br
      Vous trouverez peu de gens en France en ce moment qui soit réellement des programmeurs web, uniquement coté serveur.
      %br
      Comme tous, j'ai donc appris a me familiariser avec le web tel qu'il est, à haïr IE6 comme il se doit pour son pauvre support des CSS...
  
  %section.architect
    %p
      Et l'architecte du Web ? Kezako ? 
    
    %p
      L'architecte du web, c'est le meilleur terme que j'ai trouvé (je vous l'accorde un peu pompeux), pour faire part de ma passion pour le futur du web.
      %br
      En fait j'ai toujours aimé "Retour vers le futur", surement parce que j'aurais beaucoup aimé savoir de quoi le futur sera fait en matière de technologie.
      %br
      Mais j'ai réalisé il y a quelques année que le futur du web n'était écris nulle part, ni dans un vieux Jules verne, ni dans le script du prochain Spielberg...
    
    %p
      Surement parce qu'il nous appartient, à nous, les travailleurs du web de faire de cette technologie ce dont on rêve. 
      %br
      C'est pour cette raison, que j'essaye d'en apprendre tout les jours un peu plus sur le web et que je partage la majorité de mes découvertes avec les autres illuminés de mon genre.
    
