---
layout: default
title: Contact
permalink: '/lab/css_text.html'
og_type: 'website'
---

%section.lab#css-text
  %p
    %span.typo#site-name Jblanche.fr
    est le site d'un 
    %span.typo#work freelance concepteur
    %span &
    développeur
    %span.typo#passionate passionné
    par le web en général,
    les frameworks, l'ergonomie, les nouvelles technologies... 
    %span.typo#welcome Bienvenue !
