---
layout: default
title: Accueil
---

%section#about
  %h2 Concepteur <span class="ampersand"> & </span> développeur web freelance
  %p
    Jblanche.fr est le site d'un passionné du web, jeune mais déjà expérimenté après quatre années passées à développer de nombreux produits à destinations d'une variété de clients dans mes emplois précédents.
    Ayant étudié auparavant les techniques de gestion de projet et d'ergonomie du web, j'essaye aujourd'hui d'utiliser tous ces acquis  afin de délivrer des sites et applications web de qualité.
    Mes connaissances vont des techniques de conceptions, au développement web, en passant par l'intégration (HTML/CSS/Javascript) et me permettront de vous guider sur l'intégralité d'un projet, de sa conception à sa réalisation.
  %hr
    
  %h3 Concepteur   
  %p
    Vous êtes à la recherche de quelqu'un pouvant vous guider dans la création d'une nouvelle application web.
    Je me propose de vous guider dans les étapes successive de votre projet.
    Après avoir définis ensemble le cadre du projet, nous étudierons les meilleurs moyen de satisfaire ceux qui deviendront vos clients grâce à différentes techniques de conception de projet bien rodées.
  %hr  
  
  %h3 Agile
  %p
    J'aime le contact direct avec le client et je suis partisan d'un maximum d'itérations entre les clients et le prestataire à toutes les étapes du projet.
    Je me propose donc de vous guider dans toutes les étapes de vos choix, aussi bien technologiques (langage de développement / frameworks...), qu'ergonomiques (zonings, mockups) en placant toujours au centre de nos débats l'intérêt premier de  produit web, les besoins de l'utilisateur final.

  %hr
  
  %h3 Développeur
  %p
    Une fois les bases du projet posées, il est tant de passer au développement de celui-ci.
    C'est là le coeur de mon travail, surement la partie qui me plait le plus, je mettrais donc à votre service mes connaissances en matière de développment web.
    J'aurais plaisir à travailler avec des technologies multiples, que ce soit le langage (Ruby, PHP), le framework (Rails, Sinatra, Symfony, Kohana), le système de gestion de base données (Mysql, PostgreSQL).
    Je peux également vous guider dans la réalisation de projets en interaction avec de nouvelles plateformes de diffusion tel que Facebook.
    Je serais également ravi de travailler avec vous sur des technologies plus neuves encore, de NodeJS, à Redis, en passant par MongoDB et bien d'autres si le projet l'exige.
  %hr


  %h3 Passionné
  %p
    Déjà quelques années passées aux côtés des professionnels du web, et toujours pas le moindre indice de lassitude.
    Le web me passionne tous les jours un peu plus depuis que j'ai compris qu'il ne tenait qu'à nous d'en faire l'outil qui répondra à nos besoins.
    Le web est une énorme boite de Légo ou de Mécano, où de nouvelles pièces viennent tous les jours élargir l'éventail des possibles.
    Il ne tient qu'à nous de construire grâce à lui les applications qui répondront aux besoins des utilisateurs les plus variés. 
    C'est pourquoi je consacre chaque jour qui passe, une partie de mon temps à découvrir et essayer la nouvelle pièce de cet énorme construction qui permettra peut être demain à votre projet le plus fou, de devenir réalité.

  %h3 Freelance
  %p
    En faisant appel à un Freelance, vous garantissez pour votre projet un maximum de qualité pour plusieurs raisons : 
    %ul
      %li 
        Vous aurez à faire à un unique interlocuteur durant toutes les phases de conception/réalisation de votre projet, vous garantissant ainsi ...
      %li
        Vous faites appel à un passionné, qui mettra toujours au premier rang de ses priorité la qualité du produit fini, loin devant des considérations plus matérialistes d'une agence.
      %li
        Vous bénéficiez d'une réactivité maximum, le freelance saura, dans les limites du raisonnable intégrer vos demandes urgentes à son planning.
    
  %h3 Une idée de projet ? 
  %p 
    Vous avez une idée de projet, une question, n'hésitez pas à me contacter et à me faire part de vous souhaits et/ou demandes.
    
    