---
layout: default
title: About Me
---

%section.about
  %h1 About Me
  %p
    I'm Jonathan Blanchet, a professionnal web developper. 
    %br
    I work mainly with the Ruby language and the Ruby on rails framework.
