---
layout: default
title: Contact
---

%section#contact
  %h2 Contact
  %p
    Une question, un demande, un idée de projet, n'hésitez pas à me contacter : 
    
  %h3 Par mail 
  %p contact__at__jblanche.fr
  
  %h3 Par téléphone 
  %p 06 79 20 57 30
  
  %h3 Par Facebook 
  %p Jonathan Blanchet
  
  %h3 
    Par Twitter 
    %span (attention, il est souvent compliqué de produire une réponse sérieuse en 140 caractères...) 
  %p jblanchefr

