---
layout: default
title: Contact
permalink: '/contact.html'
og_type: 'website'
---

%section#contact.showgrid
  %h2 Contact
  %p
    Une question, un demande, un idée de projet, n'hésitez pas à me contacter : 
  %ul
    %li#mail
      %img(src="/images/contact/mail.png")
      %h3 Mail 
      %p 
        %a(href= 'mailto:contact@jblanche.fr') contact@jblanche.fr
  
    %li#telephone
      %img(src="/images/contact/telephone.png")
      %h3 Téléphone 
      %p 06 79 20 57 30
  
    %li#facebook
      %img(src="/images/contact/facebook.png")    
      %h3 Facebook 
      %p
        %a(href='http://www.facebook.com/pages/jblanchefr/256409671857') Jblanche.fr
  
    %li#twitter
      %img(src="/images/contact/twitter.png")    
      %h3 Twitter 
      %p 
        %a(href='http://twitter.com/jblanchefr') jblanchefr
