---
layout: default
title: Lab
og_type: 'website'
permalink: '/lab.html'
---

%section#lab
  %h2 Lab
  %ul
    %li 
      %a(href="/lab/websockets.html") Twitter stream with websockets
    %li
      %a(href="/lab/css_text.html")  Text animation with CSS3
